{% extends 'base.html' %}

{% block title%}
Post Feed
{% endblock %}

{% block content %}
    <br>
        <h1>Thieves 110 Feed Page</h1>
    <br>
    <div class = 'center-group'>
    {% for post in posts %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{post.img_url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.caption}}</p>
                    <small class="font-wieght-light font-italic">{{moment(post.date_created).fromNow()}} - {{post.author.first_name}}</small>
                </div>
            </div>
    {% endfor %}
    </div>
{% endblock %}