{% extends 'base.html' %}

{% block content %}
<br>
<h1>Pokedex</h1>
<br>
  <div class = 'center-group'>
    <form action="{{url_for('pokemon.pokemonapi')}}" method="POST">
        <div class="form-group">
          {{form.hidden_tag()}}
          <label for="name">Pokemon Name</label>
          {{form.pokemon_name(class="form-control")}}
        </div>
        {{form.submit_btn(class="btn btn-primary")}}
    </form>
        <br>
    {% if new_pokemon_data %}
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Sprite</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Ability</th>
            <th scope="col">Base EXP</th>
            <th scope="col">Attack Base Stat</th>
            <th scope="col">HP Base Stat</th>
            <th scope="col">Defense Base Stat</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for pokemon in new_pokemon_data %}
              <th scope="row"><img src="{{pokemon.sprite_url}}" alt="{{pokemon.name}}"></th>
              <td>{{pokemon.pokemon_name.title()}}</td>
              <td>{{pokemon.type}}</td>
              <td>{{pokemon.ability}}</td>
              <td>{{pokemon.base_exp}}</td>
              <td>{{pokemon.attack_base_stat}}</td>
              <td>{{pokemon.defense_base_stat}}</td>
              <td>{{pokemon.hp_base_stat}}</td>
            {% endfor %}
          </tr>
        </tbody>
    </table>
      <a href="{{url_for('pokemon.catch', pokemon_name=new_pokemon_data[0].pokemon_name)}}" class="btn btn-primary">Catch</a>
    {% endif %}
    <br>
        <div>
            <small style = 'color:red'>{{error}}</small>  
        </div>
    {% endblock %}
  </div>