*{
    margin: 0;
    padding: 0;
    color: #c3073f
}


/* NAV BAR */

nav{
    background-color:#c5eae6;
}

.navbar-brand{
    font-family: 'Pokemon Solid', sans-serif;
    color: #c3073f;
}

.nav-link{
    color: #c3073f;
}
.nav-item{
    font-weight: bold;
}


/* SUBMIT BUTTON */
.btn-primary{
    background-color: #c3073f;
    border: #c3073f;
}

h1{
    font-family: 'Pokemon Solid', sans-serif;
    text-align: center;
    padding-top: 1%;
    color: #c3073f
}

h3{
    text-align: center;
    padding-top: 1%;
    color: #c3073f
}

body{
    background-image: url("https://images3.alphacoders.com/238/238187.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

label{
    font-weight: bold;
    font-size: large;
}

/* ----------------------CONTAINER-------------------- */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* ----------------------CARD CONTAINER-------------------- */
.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color:#57a0a6;
    margin: 2% 2%;
}


/* FORM GROUP */
.center-group{
    padding: 0 20%;
    min-width: none;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 2%;
}

/* POKEMON TABLE */
.table{
    margin-top: 1%;
}


/* IMAGES */
.img_container{
    align-items: center;
    padding: auto;
    max-width: 100%;
    width: 100%;
    height: auto;
}



.overflow-text{
    inline-size: 150px;
    overflow-wrap: break-word;
    word-break: break-all;
}

/* FOOTER */
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    color: #c3073f;
    background-color:#c5eae6
}