*{
    margin: 0;
    padding: 0;
    background-color: #1a1a1d;
    color: #c3073f
}


/* NAV BAR */
.navbar {
    background-color: #1a1a1d;
    border: #1a1a1d;
}
.navbar-expand-lg{
    border: #1a1a1d;
}
.bg-body-tertiary{
    border: #1a1a1d;
}
.container-fluid{
    border: #1a1a1d;
}
.navbar-nav{
    border: #1a1a1d;
}

.navbar-brand{
    color: #c3073f;
}
.nav-link{
    color: #c3073f;
}

/* SUBMIT BUTTON */
.btn-primary{
    background-color: #c3073f;
    border: #c3073f;
}

h1{
    text-align: center;
    padding-top: 1%;
}

/* FORM GROUP */
.center-group{
    padding: 0 10%;
    min-width: none;
}

.form-group{
    padding-bottom: 2%;
}

/* POKEMON TABLE */
.table{
    margin-top: 1%;
}