{% extends 'base.html' %}

{% block content %}
    <br>
        <h1>Welcome to the World of Pokemon</h1>
    <br>
    <div class = 'center-group'>
    {% for user in users %}
        {% if user != current_user %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{url_for('static', filename='../static/images/800px-Poké_Ball_icon.svg.png')}}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{user.first_name}}</h5>
                <a href="#" class="btn btn-primary">Follow</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
    <!-- <div class="img-container">
        <img src="/static/images/pokemon_poster.jpg">
    </div> -->
{% endblock %}

