{% extends 'base.html' %}

{% block content %}
<br>
<h1>Pokemon Search</h1>
<br>
<form action="/pokemonapi" method="POST">
    <div class="form-group">
      {{form.hidden_tag()}}
      <label for="name">Pokemon Name</label>
      {{form.pokemon_name(class="form-control")}}
    </div>
    <br>
    {{form.submit_btn(class="fbtn btn-primary")}}
  </form>
  <br>

    {% if new_pokemon_data %}
    <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Ability</th>
        <th scope="col">Base EXP</th>
        <th scope="col">Sprite URL</th>
        <th scope="col">Attack Base Stat</th>
        <th scope="col">HP Base Stat</th>
        <th scope="col">Defense Base Stat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{new_pokemon_data[0]['Name']}}</th>
        <td>{{new_pokemon_data[0]['Ability']}}</td>
        <td>{{new_pokemon_data[0]['Base_Exp']}}</td>
        <td>{{new_pokemon_data[0]['Sprite_url']}}</td>
        <td>{{new_pokemon_data[0]['Attack_base_stat']}}</td>
        <td>{{new_pokemon_data[0]['HP_base_stat']}}</td>
        <td>{{new_pokemon_data[0]['Defense_base_stat']}}</td>
      </tr>
    </tbody>
  </table>
{% endif %}  
  <div>
    <small style = 'color:red'>{{error}}</small>  
  </div>
{% endblock %}