{%extends 'base.html'%}

{% block title%}
Login
{% endblock %}


{%block content%}
<h1 class = 'registration'>Registration Page</h1>
<br>
<form action="/registration" method="POST">
    {{form.hidden_tag()}}
    <div class="form-group">
        {{form.first_name.label()}}
        {{form.first_name(class='form-control')}}
    </div>
    <br>
    <div class="form-group">
        {{form.last_name.label()}}
        {{form.last_name(class="form-control")}}
    </div>
    <br>
    <div class="form-group">
        {{form.email.label()}}
        {{form.email(class="form-control")}}
    </div>
    {{form.submit_btn(class="btn btn-primary")}}
</form>
<br>
<div>
    <small style = 'color: red'>{{error}}</small>
</div>
{% endblock %}